h1{
  font-family: 'Times New Roman';
  text-align: center;
}

h2{
  font-family: 'Times New Roman';
}

div{
  display: inline-block;
  margin:60px;
}

div>img{
    width:350px;
    height:370px;
    border-radius: 5px;
}

div>img:hover{
    border: solid black 1px;
}