html{
  font-size: 16px;
}

h1{
  font-family: 'Times New Roman';
  text-align: center;
}

h2{
  font-family: 'Times New Roman';
}

div{
  display: inline-block;
  margin:4rem;
}

div>img{
    width:21.8rem;
    height:23.1rem;
    border-radius: 0.33rem;
}

div>img:hover{
    border: solid black 0.1rem;
}